<footer>

    <div class="left">
        <h1>Reach at..</h1>
        <div class="location">
<i class="fa fa-map-marker" aria-hidden="true"></i>
<span>Location</span>
        </div>
        <div class="phone">
<i class="fa fa-phone" aria-hidden="true"></i>
<span>Call+011234567890</span>
        </div>
        <div class="email">
<i class="fa fa-envelope" aria-hidden="true"></i>
<span>demo@gmail.com</span>
        </div>
    </div>
    <div class="right">
        <h2>Famms</h2>
        <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with</p>
        <div class="icons">
            <!-- Facebook -->
<a href="https://www.facebook.com" target="_blank">
  <i class="fab fa-facebook-f"></i>
</a>

<!-- Instagram -->
<a href="https://www.instagram.com" target="_blank">
  <i class="fab fa-instagram"></i>
</a>

<!-- Twitter -->
<a href="https://twitter.com" target="_blank">
  <i class="fab fa-twitter"></i>
</a>

<!-- LinkedIn -->
<a href="https://www.linkedin.com" target="_blank">
  <i class="fab fa-linkedin-in"></i>
</a>

        </div>
        <hr>
        <div class="foot" >
     <p>© 2026 Copyright:</p>
    <a class="fw-bold" href="https://www.facebook.com/?ref=homescreenpwa">Zeinab Ebrahim</a>
  </div>
    </div>
</footer> 