<section id="about">
    <header>
      <h1>ABOUT US</h1>    
    </header>
   <h2>About Us</h2><hr>
   <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
         <p> ~We are a modern fashion store that brings you the latest trends in men’s and women’s clothing.
Our mission is to offer stylish, high-quality outfits at affordable prices, helping you look confident every day.~
 </p>
    </div>
    <div class="carousel-item">
         <p> ~At our core, we believe that fashion is about expressing yourself.
We carefully select our fabrics and designs to ensure comfort, durability, and timeless style, so every piece you wear reflects your personality.~
 </p>
    </div>
    <div class="carousel-item">
         <p> ~Our vision is to become your go-to destination for fashion that inspires confidence and self-expression.
We are committed to providing excellent customer service and a seamless shopping experience, making sure every visit to our store feels special~
 </p>
    </div>
  </div>
<div class="carousel-indicators custom-indicators">
  <button
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide-to="0"
    class="active"
    aria-current="true">
  </button>

  <button
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide-to="1">
  </button>

  <button
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide-to="2">
  </button>
</div>


</div>

</section>
<section id="our-story">
<h3>Our Story</h3><hr>
<p> ~Our journey started with a passion for fashion and a simple goal: to make stylish clothing accessible for everyone.
Today, we proudly serve customers who value quality, comfort, and elegance.~</p>
</section>

<button
class="back-to-top"
[class.show]="backtotop"
(click)="scrolltotop()"
>
 <i class="fa fa-arrow-up"></i>

</button>
<section id="choose-us">
<h2>Why Shop With Us</h2><hr>
<div class="our-services">
    <div class="fast-delivery">
        <a><i class="fa-solid fa-truck"></i></a>
        <h3>Fast Delivery</h3>
        <p>We deliver your orders quickly and safely</p>
    </div>
    <div class="free-shiping">
        <a><i class="fa-brands fa-free-code-camp"></i></a>
        <h3>Free Shiping</h3>
        <p>Enjoy free shipping on all orders with no hidden cost</p>
    </div>
    <div class="best-quality">
        <a><i class="fa-solid fa-medal"></i></a>
        <h3>Best Quality</h3>
        <p>Our products are carefully selected to ensure the best quality,</p>
    </div>
</div>
</section>
<section id="images">
    <h5>Behind the Scenes</h5><hr>
    <div class="image">
        <img src="0e4457f6b75fc5cce6cab46d7a2136a7.jpg" alt="">
<img src="4df79f6f045d093139a6a43bb90fec17.jpg" alt="">
<img src="07ce15266629bec9079f490d7b44ecc8.jpg" alt="">
<img src="18d12e6ccc2d683b643e53fcecf382e3.jpg" alt="">
<img src="020f1da76c07c9aae03e0009533eb362.jpg" alt="">
<img src="293985e47f03f76bd24abbc8ebd5b746.jpg" alt="">
<img class="imag-7" src="068028342d78f9221d48590464c9e068.jpg" alt="">
<img src="53470325162dee0c9cb408bca5ed234e.jpg" alt=""></div>


</section>
<section id="call">
<h6>📞 Call To Action</h6>
<p>Discover our latest collections and upgrade your <span>wardrobe today.</span> </p>
<button routerLink="/men">Shop Now</button>

</section>