.navbar-brand img{
    width: 200px;
    margin-left: 200px;
}
nav{
    height: 80px !important;
}
nav .navbar-nav {
    margin-left: 230px;
}
nav .nav-item .nav-link{
    font-size: 17px;
   font-weight: 700;
   margin-left: 25px;
   transition: 0.6s ease;
}
ul li a:hover {
    color: #f7444e;
}
.dropdown-item:active{
    background-color: #ece9e9;
}
.dropdown-item{
    font-size: 17px;
    font-weight: 600;
    transition: 0.6s ease;
}
a i{
    margin-top: 15px;
    margin-left: 25px;
    color: #000;
    transition: 0.6s ease;
    cursor: pointer;
}
a i:hover{
    color: #f7444e;
}
.dropdown-menu{
    border: 2px solid black;
box-shadow: 5px 5px 10px #000;
}
input{
    margin-left: 5px;
    border-radius: 20px;
    border: 2px solid #000;
}
.icons{
    display: flex;
}
@media (max-width:1200px){
     .navbar-brand img{
        margin-left: 20px;
    }
    nav .navbar-nav{
        margin-left: 89px;
        background-color: #fff;
        margin-top: 10px;
        width: 550px;
      
        
    }
  
    .navbar{
        z-index: 100;
    }
}
@media(max-width:600px){
    .navbar-brand img{
        margin-left: 10px;
    }
    nav .navbar-nav{
        margin-left: -23px;
        background-color: #fff;
        margin-top: 27px;
        width: 550px;
      
        
    }
    .icons{
        margin-bottom: 10px;
    }
    .navbar{
        z-index: 100;
    }
}