<nav class="navbar navbar-expand-lg bg-body">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <img src="logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"style="color: #f7444e;">HOME</a>
        </li>

        
 <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
  PAGES
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/about">About</a></li>
            <li><a class="dropdown-item" routerLink="/test">Testimonial</a></li>
           
          </ul>
        </li> 




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
           PRODUCTS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/men">Men Section</a></li>
            <li><a class="dropdown-item" routerLink="/wemon">Women Section</a></li>
             <li><a class="dropdown-item" routerLink="/child">Child Section</a></li>
          </ul>
        </li> 
        <li class="nav-item">
          <a class="nav-link active" routerLink="/blog">BLOG</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" routerLink="/contact" >CONTACT</a>
        </li>
        <div class="icons">
            <li class="nav-item">
          <a routerLink="/cart" ><i class="fa-solid fa-cart-shopping"></i>
</a></li>
        <li class="nav-item">
          <a (click)="searchProduct()" ><i class="fa-solid fa-magnifying-glass"></i>
</a>
@if(search){
  <input type="text" placeholder="Search..."   >
   
}

</li>
        </div>
      

      </ul>
      
    </div>
  </div>
</nav>
