.back-to-top{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: #f7444e;
    position: fixed;
    bottom: 30px;
    right: 30px;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    display: none;
     
}
.back-to-top.show{
    display: flex;
}

#blog h1{
    font-weight: bold;
    margin-left: 44.5%;
    margin-top: 30px;
    color: #fff;
}
#blog{
    margin-bottom: -460px;
 }
 #blog header{
    padding: 1px;
background-color:#f7444e ;
height: 110px;
 }  
 .blog{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 30pX;
    margin-bottom: 70px !important;
 }
 .blog h2{
    font-size: 23px;
    margin: 20px;
 }
 .blog img{
    height: 230px;
 }
 .blog h5{
    font-size: 17px;
 }
 .card{
    height: 455px;
    margin-top:50px ;
    margin-left: 30px;
    margin-bottom: 50px 
 } .blog a{
    background-color: #f7444e;
    color: #fff;
    border: none;
    transition: 0.5s ease;
    margin-left: 115px;
    margin-top: 10px;
    width: 200px;
    }
 .blog a:hover{
    border: 2px solid #f7444e;
    color: #000;
    background-color: transparent;
 }
 @media(max-width:1200px){
   .blog{
      margin-left: 80px;
   }
 }
 @media (max-width:992px){
 .blog{
   margin-left: 10px;
 }
 .card{
   margin-left: 8px;
 }
}
@media (max-width:768px){
   .blog{
    margin-left: 4px;
    margin-top: 20pX;
    }
 .blog h2{
    font-size: 19px;
    margin: 10px;
    width: 21rem;
    height: 55px;
 }
 .blog img{
    height: 200px !important;
 }
 .blog h5{
    font-size: 17px;
    width: 21rem;
 }
 .card{
    height: 405px;
    margin-top:10px ;
    width: 22rem !important;
    margin-left: 10px;
    margin-bottom: 20px;
    
 } .blog a{
   margin-left: 10px;
    width: 300px;
     }
 
}
 @media(max-width:600px){
.back-to-top{
   z-index: 2;
}
 .blog{
    margin-left: 4px;
    margin-top: 20pX;
    }
 .blog h2{
    font-size: 16px;
    margin: 10px;
    width: 13rem;
    height: 55px;
 }
 .blog img{
    height: 200px !important;
 }
 .blog h5{
    font-size: 17px;
    width: 13rem;
 }
 .card{
    height: 405px;
    margin-top:10px ;
    width: 14rem !important;
    margin-left: 10px;
    margin-bottom: 20px;
    
 } .blog a{
   margin-left: 15px;
    width: 120px;
     }
 


 }